@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  body {
    @apply bg-gray-100;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
